*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
audio:not([controls]) {
  display: none;
}
[hidden] {
  display: none;
}
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}
body {
  margin: 0;
}
body,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
a:hover,
a:active {
  outline: 0;
}
abbr[title] {
  border-bottom: 1px dotted;
}
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
dfn {
  font-style: italic;
}
mark {
  background: #ff0;
  color: #000;
}
pre,
code,
kbd,
samp {
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
q {
  quotes: none;
}
q:before,
q:after {
  content: '';
  content: none;
}
small {
  font-size: 75%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}
dd {
  margin: 0 0 0 40px;
}
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 0;
}
form {
  margin: 0;
}
fieldset {
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  border: 0;
  *margin-left: -7px;
}
button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}
button,
input {
  line-height: normal;
  *overflow: visible;
}
table button,
table input {
  *overflow: auto;
}
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}
input[type="checkbox"],
input[type="radio"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
textarea {
  overflow: auto;
  vertical-align: top;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  width: 100%;
}
body *zoom:1:before,
body *zoom:1:after {
  content: "";
  display: table;
}
body *zoom:1:after {
  clear: both;
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 580px) {
}
@media (max-width: 880px) {
}
@media (min-width: 581px) and (max-width: 880px) {
}
@media (max-width: 580px) {
}
@font-face {
  font-family: 'intro_rust_gbase_2_line';
  src: url("../fonts/introrustg-base2line-webfont.eot");
  src: url("../fonts/introrustg-base2line-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/introrustg-base2line-webfont.woff2") format('woff2'), url("../fonts/introrustg-base2line-webfont.woff") format('woff'), url("../fonts/introrustg-base2line-webfont.ttf") format('truetype'), url("../fonts/introrustg-base2line-webfont.svg#intro_rust_gbase_2_line") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-light-webfont.eot");
  src: url("../fonts/raleway-light-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/raleway-light-webfont.woff2") format('woff2'), url("../fonts/raleway-light-webfont.woff") format('woff'), url("../fonts/raleway-light-webfont.ttf") format('truetype'), url("../fonts/raleway-light-webfont.svg#raleway") format('svg');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-regular-webfont.eot");
  src: url("../fonts/raleway-regular-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/raleway-regular-webfont.woff2") format('woff2'), url("../fonts/raleway-regular-webfont.woff") format('woff'), url("../fonts/raleway-regular-webfont.ttf") format('truetype'), url("../fonts/raleway-regular-webfont.svg#raleway") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway-black-webfont.eot");
  src: url("../fonts/raleway-black-webfont.eot?#iefix") format('embedded-opentype'), url("../fonts/raleway-black-webfont.woff2") format('woff2'), url("../fonts/raleway-black-webfont.woff") format('woff'), url("../fonts/raleway-black-webfont.ttf") format('truetype'), url("../fonts/raleway-black-webfont.svg#raleway") format('svg');
  font-weight: 900;
  font-style: normal;
}
html,
body {
  font-family: sans-serif;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body {
  font-size: 62.5%;
  background: #fff;
  font-family: 'raleway', Arial, sans-serif;
}
code,
pre {
  background: #f5f5f5;
  padding: 0.3em 0.4em;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  font-family: monospace;
  font-weight: normal;
}
pre {
  display: block;
  max-width: 98%;
  font-size: 1.8em;
  padding: 0.1em;
  color: #444;
  margin: 1.5em 0;
}
.fork-button {
  display: block;
  text-align: center;
  padding: 0.5em 0;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
  width: 30em;
  background: #eee;
  position: fixed;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 5em;
  right: -9em;
  text-decoration: none;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  -ms-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.fork-button:hover {
  background: #444;
  color: #fff;
}
.header {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  background: #3af2a2;
  height: 100%;
}
.header-content {
  margin: auto;
}
.header-logo {
  padding: 0;
  margin: 0;
}
.header-logo--text {
  display: block;
  font-family: 'intro_rust_gbase_2_line', Arial, sans-serif;
  font-weight: normal;
  font-size: 3em;
  color: #333;
  line-height: 1;
  margin: 0.3em 0 0 0;
  text-align: center;
}
.header-logo--cup {
  font-size: 90%;
  display: block;
  margin: 0 auto;
  width: 5em;
  height: 9em;
  border: 0.5em solid #333;
  -webkit-border-radius: 0 0 0.5em 0.5em;
  border-radius: 0 0 0.5em 0.5em;
  position: relative;
}
.header-logo--cup:before {
  content: '';
  position: absolute;
  bottom: -0.5em;
  left: 50%;
  display: block;
  width: 0;
  height: 13em;
  border: 0.31em solid #333;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  transform: rotate(15deg);
  -webkit-border-radius: 0.1em;
  border-radius: 0.1em;
}
.header-logo--cup:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: #fff;
  -webkit-animation: cup-water 10s linear infinite;
  -moz-animation: cup-water 10s linear infinite;
  -o-animation: cup-water 10s linear infinite;
  -ms-animation: cup-water 10s linear infinite;
  animation: cup-water 10s linear infinite;
}
.header-description {
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 1.7em;
  margin: 0.3em 0 0 0;
  text-align: center;
  font-weight: bold;
}
.section {
  padding: 3em 1em;
  max-width: 1000px;
  margin: 0 auto;
  position: relative;
  background: #fff;
}
.section-title {
  margin: 1em 0;
  padding: 0;
  line-height: 1;
  text-align: center;
  color: #444;
  font-weight: 900;
  font-size: 4em;
  text-transform: uppercase;
}
.section-text {
  font-weight: normal;
  font-size: 1.8em;
  line-height: 1.8em;
  color: #777;
}
.section-text a {
  text-decoration: none;
  color: #333;
  padding-bottom: 0.1em;
  border-bottom: 1px solid #ccc;
}
.section-text a:hover {
  color: #000;
  border-color: #3af2a2;
}
@-moz-keyframes cup-water {
  0% {
    top: 0;
  }

  100% {
    top: 80%;
  }
}
@-webkit-keyframes cup-water {
  0% {
    top: 0;
  }

  100% {
    top: 80%;
  }
}
@-o-keyframes cup-water {
  0% {
    top: 0;
  }

  100% {
    top: 80%;
  }
}
@-ms-keyframes cup-water {
  0% {
    top: 0;
  }

  100% {
    top: 80%;
  }
}
@keyframes cup-water {
  0% {
    top: 0;
  }

  100% {
    top: 80%;
  }
}
